<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b548bbcc-afca-43d0-80a9-c8bde7da324f" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b548bbcc-afca-43d0-80a9-c8bde7da324ffileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
